@layer typedoc {
  a {
    color: #8367e7 !important;
  }

  a:hover {
    color: #b19dff !important;
  }

  .tsd-navigation a,
  .tsd-navigation a:visited {
    color: #e3e7fb !important;
  }

  .tsd-navigation > a:first-child {
    display: none;
  }

  .tsd-navigation a:hover,
  .tsd-navigation a.current {
    color: #b19dff !important;
  }

  .tsd-kind-icon {
    color: inherit !important;
  }

  a.external:has(img) {
    background-image: none !important;
    padding: 0 !important;
  }
}
