@layer typedoc {
  .tsd-panel {
    border-color: #3f3f46;
  }

  .tsd-signature {
    border-color: #3f3f46;
  }

  .tsd-theme-toggle,
  .tsd-navigation.settings {
    display: none !important;
  }

  .page-menu li:has(> a:first-child > span:first-child:empty) {
    display: none;
  }

  .tsd-accordion-summary {
    display: none;
  }

  footer {
    display: none;
  }
}
