@layer typedoc {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: system-ui, 'Roboto', 'Segoe UI', sans-serif;
  }

  .tsd-typography > p:has(> a[href='https://exodusoss.github.io/test/']) {
    display: none;
  }
}
