@layer typedoc {
  :root {
    --color-background: #000;
    --color-background-secondary: #000;
    --color-background-active: #27272a;
    --color-background-warning: #ebd43e;
    --color-warning-text: #111;
    --color-accent: #3f3f46;
    --color-active-menu-item: #27272a;
    --color-text: #e3e7fb;
    --color-contrast-text: #fff;
    --color-text-aside: #a1a1aa;
    --color-icon-background: #111;
    --color-icon-text: #e3e7fb;
    --color-comment-tag-text: #e3e7fb;
    --color-comment-tag: #27272a;
    --color-link: #8367e7;
    --color-focus-outline: #b19dff;
    --color-ts-keyword: #b19dff;
    --color-ts-project: #8367e7;
    --color-ts-module: #8367e7;
    --color-ts-namespace: #8367e7;
    --color-ts-enum: #ebd43e;
    --color-ts-enum-member: #ebd43e;
    --color-ts-variable: #3ec7eb;
    --color-ts-function: #2ecf95;
    --color-ts-class: #8367e7;
    --color-ts-interface: #2ecf95;
    --color-ts-constructor: #8367e7;
    --color-ts-property: #eb7c3e;
    --color-ts-method: #b19dff;
    --color-ts-reference: #8367e7;
    --color-ts-call-signature: #b19dff;
    --color-ts-index-signature: #eb7c3e;
    --color-ts-constructor-signature: #8367e7;
    --color-ts-parameter: #3ec7eb;
    --color-ts-type-parameter: #eb7c3e;
    --color-ts-accessor: #eb7c3e;
    --color-ts-get-signature: #eb7c3e;
    --color-ts-set-signature: #eb7c3e;
    --color-ts-type-alias: #8367e7;
    --color-document: #e3e7fb;
    --color-alert-note: #3ec7eb;
    --color-alert-tip: #2ecf95;
    --color-alert-important: #8367e7;
    --color-alert-warning: #ebd43e;
    --color-alert-caution: #eb7c3e;
    --external-icon: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 100' width='10' height='10'><path fill-opacity='0' stroke='%23e3e7fb' stroke-width='10' d='m43,35H5v60h60V57M45,5v10l10,10-30,30 20,20 30-30 10,10h10V5z'/></svg>");
    color-scheme: dark;
    --code-background: #000;
    --dim-footer-height: 0rem;
  }
}
